<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=1122, initial-scale=1"/>
  <title>{{ title }} — Card #{{ card_number }}</title>
  <style>
    {% include 'card_styles.html.j2' %}
  </style>
</head>
<body>
  {% include 'card_inner.html.j2' %}
</body>
</html>
